<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>用户名</td>
            <td>密码</td>
            <td>名字</td>
            <td>年龄</td>
            <td>性别</td>
            <td>生日</td>
            <td>备注</td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">id</td>
            <td th:text="${user.userName}">用户名</td>
            <td th:text="${user.password}">密码</td>
            <td th:text="${user.name}">名字</td>
            <td th:text="${user.age}">年龄</td>
            <td th:text="${user.sex} == 1 ? '男':'女'">性别</td>
            <td th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}">生日</td>
            <td th:text="${user.note}">备注</td>
        </tr>
    </table>
</body>
</html>